{% extends "cse/home.html" %}
{%load static%}

{% block title %}
  Home
{% endblock title %}

{% block content %}
<style>
 body{
         background-image: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    object-fit: cover;
    background-blend-mode: soft-light;
}
  .navbar{
  margin-bottom:10px;

  }
  #nav2{
  margin: 132px 10px;
  }
  #nav2 button{
  float: right;
  }

  marquee{
  color:white;
  font-weight:bold;
  }
.container a{
text-decoration:none;
font-weight:bold;
font-size: x-large;
margin-bottom: 20px;
}
.container{
    text-align:center;
    margin: 35px auto 20px auto;
}
hr{
color:black;
}
.table{
text-align:center;
font-size:20px;
}
#tab{
border: 3px solid black;}

#con-box div{
margin:0px auto;
padding: 100px auto 100px auto;
    background-color: #ff00000a;
}
#con-box{
background-color: transparent;
float:center;
}

#con-box a
{
float:center;
}

#con-box img
{
width:300px;
height:200px;
filter: none;
}

#service{
font-size:65px;}

#schedule{
font-size:58px;}

#payment{
font-size:60px;}
.navbar #home{
  background-color: white;
  color: black;
}
</style>
<div class="table">
  <h1>WELCOME TO OUR WEBSITE</h1>
</div>
<hr>
<marquee>HELLO! NICE TO SEE YOU, HOPE YOU ARE FINE😊</marquee>
<br>
<br>
<div class="navbar" id="con-box" >
  <div>
    <div>
  <a href="/service"><img src="{% static 'css/service.png'%}"></a>
    </div>
    <div id="service">
      <a href="/service">SERVICE</a>
    </div>
</div>
 <div>
    <div>
  <a href="/schedule"><img src="{% static 'css/schedule.png'%}"></a>
    </div>
   <div id="schedule"><a href="/schedule">SCHEDULE</a></div>

</div>
   <div>
    <div>
  <a href="/payment"><img src="{% static 'css/payment.png'%}" ></a>
    </div>
    <div id="payment"><a href="/payment">HISTORY</a></div>
</div>

</div>
<hr>




<div id="nav2">
  <a href="mailto:rohitkumarsingh2021@gmail.com" >
<button data-hook="minimized-chat" class="tsjHR undefined" id="minimized-chat" style="color: rgb(255, 255, 255); background-color: rgb(27, 26, 33); border-radius: 30px;"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="42" viewBox="0 0 32 32" style="border-radius: 0px; fill: rgb(255, 255, 255); width: 26px; height: 26px; flex-shrink: 0;"><path d="M16 2C8.28 2 2 7.8 2 14.93a12.144 12.144 0 001.696 6.15l-1.668 7.51A1.16 1.16 0 003.63 29.9l6.914-3.072A14.835 14.835 0 0016 27.861c7.72 0 14-5.8 14-12.93S23.72 2 16 2zm4.508 16.32h-9.016a1.16 1.16 0 010-2.32h9.016a1.16 1.16 0 010 2.32zm0-4.638h-9.016a1.16 1.16 0 010-2.318h9.016a1.16 1.16 0 110 2.318z" fill="currentColor" fill-rule="nonzero"></path></svg><h2 data-hook="text" class="_1B36B" style="font-family: &quot;playfair display&quot;, HelveticaNeueW01-45Ligh;float:right;">Let's Chat!</h2></button>
  </a>
</div>
  {% endblock %}